#reserva_fechaInicio_time_hour option:disabled {
   display:none !important;

}
#reserva_fechaInicio_time_minute{
   display:none !important;
}
.col-form-label required #text{
   display:none !important;
}
