body, html {
    font-family: 'Raleway', sans-serif;

    background-image: url("../img/wallpaper.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.logo {
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-auto {
    margin-right: 3.5%;
}

.my-auto a {
    text-decoration: none;
    color: white;
}

.my-auto span {
    border-right: #fff 2px solid;
}

.bg-dark {
    background-color: #000 !important;
}


/*RESET CSS*/
.barra-sup {
    background: #000;
    height: 100px;
    /*Hasta q no pones el width, no sale la barra gris por culpa del position fixed y no tener ningun contenido dentro!*/
    width: 100%;
    position: relative;
}

.barra-sup .hamburguer span {
    display: block;
    width: 20px;
    height: 3px;
    margin: 3px;
    background: #fff;
}

.barra-sup .hamburguer {
    display: inline-block;
    margin-top: 40.5px;
    margin-left: 55.5px;
    cursor: pointer;
}

nav {
    position: absolute;
    /*CRUZ*/
    /*top: 40px;*/
    padding-top: 20px;
    /*CRUZ*/
    background: #000;
    width: 200px;
    /*Como mide 200px de ancho, lo ocultas con un left negativo de los mismos pixeles*/
    left: -200px;
    transition: all .5s;

    /*CRUZ*/
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}

/*La clase .mostrar la añade jQuery usando el metodo toggleClass()*/
nav.mostrar {
    left: 0;

}

nav .cruz {
    cursor: pointer;
    margin-top: 35.5px;
    margin-left: 57.5px;
}

nav .cruz span {
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
}

nav .cruz span:first-child {
    transform: rotate(45deg);
}

nav .cruz span:last-child {
    margin-top: -3px;
    transform: rotate(-45deg);
}

nav .img {
    height: 100px;
    background-image: url("https://source.unsplash.com/6g0KJWnBhxg");
    background-size: cover;
    background-position: center;
}

nav ul li {
    margin: 20% 10%;
}

nav ul li span {
    margin-right: 10%;
    font-size: 30px;
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#carouselExampleIndicators {
    display: none;
}

.card-img-top {
    max-width: 18rem;
    max-height: 190px;
}

@media only screen
and (max-width : 650px) {
    #login-register {
        display: flex;
        flex-direction: column;
    }

    #columnas {
        display: none;
    }

    #carouselExampleIndicators {
        display: block;
    }

    .img_background {
        background-position: center;
        background-size: cover;
    }
}