body, html {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.img_background {
    background-image: url("../img/IMG_3077.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.card {
    position: absolute;
    top: 0%;
    left: 75%;
}