{% extends 'base.html.twig' %}

{% block title %}Reserva una cita{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6 bg-white rounded my-3 p-5">

    <h1>Reserva</h1>

    {{ form(reserva) }}

    {{ form_end(reserva) }}

    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        </div>
    </div>
</div>

    <script>
        jQuery(document).ready(function() {
            const yearDate = "#reserva_fechaInicio_date_year";
            const monthDate = "#reserva_fechaInicio_date_month";
            const dayDate = "#reserva_fechaInicio_date_day";
            getTimes();

            $(yearDate).change(function() {
                console.log("change");
                getTimes();
            });
            $(monthDate).change(function() {
                console.log("change");
                getTimes();
            });
            $(dayDate).change(function() {
                console.log("change");
                getTimes();
            });
        function getTimes() {
            $.ajax({
                type: "GET",
                url: "/reserva-times",
                    data: {
                        year : $( "#reserva_fechaInicio_date_year option:selected" ).text(),
                        month : $( "#reserva_fechaInicio_date_month option:selected" ).text(),
                        day : $( "#reserva_fechaInicio_date_day option:selected" ).text(),
                    },
                    dataType: "json",
                    success: function(response) {
                        var len = response.length;
                        var options = '';
                        for(var i=0; i<len; i++){
                            var available = response[i][1] ? '' : "disabled";
                            options += '<option '+available+' value="'+response[i][0]+'">'+response[i][0]+'</option>';
                        }
                        $('#reserva_fechaInicio_time_hour').html(options);
                    }
                });
            }
        });
    </script>
{% endblock %}
