{% extends 'base.html.twig' %}

{% block title %}VLM TATTOO{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
        </div>
        <div class="text-center my-3">
            <p>¿Te gustaría realizar una reserva??</p>
            <a href="/cliente" role="button" class="btn btn-primary">Registrate</a>
        </div>
    </div>
{% endblock %}
