{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block stylesheets %}
<link href="style/portfolio.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Portfolio 1.0 ✅</h1>
</div>
  

{% endblock %}
