{% extends 'base.html.twig' %}

{% block title %}Calendari{% endblock %}

{% block stylesheets %}

    <style>
        .contenidor {
            padding: 1% 0 1% 0;
        }

        #calendari {

        }

        .calendari-container {
            width: 50%;
            padding: 1%;
            background-color: white;
            border-radius: 2%;
        }

        #EpicModal {
            background-color: white;
        }

        #img2 {
            max-height: 50%;
            max-width: 50%;
            margin: auto;

        }

        .card-cos {
            margin: 10%;
        }


    </style>

{% endblock %}

{% block body %}


    <!-- Calendari i Card -->
    <div class="contenidor" style="display: flex;justify-content: space-evenly">
        <div class="calendari-container">
            <div id="calendari" class="bg-white"></div>
        </div>

        <div class="card" style="width: 18rem;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EpicModal">
                Imagen
            </button>
            <!-- Modal -->
            <div class="modal fade" id="EpicModal" tabindex="-1" aria-labelledby="EpicModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EpicModalLabel">Imagen de referencia del cliente</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <img id="img2" src="{{ asset('/img/logo.jpg') }}">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>

                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">Cita</h5>
                <p id="des" class="card-text">Descripción de la reserva</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="fecha_inicio">Fecha de inicio</li>
                    <li class="list-group-item" id="fecha_fin">Fecha de finalización</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Información del cliente</strong></li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="cliente_nombre">Nombre del cliente</li>
                    <li class="list-group-item" id="cliente_email">Email del cliente</li>
                    <li class="list-group-item" id="cliente_telefono">Telefono del cliene</li>
                </ul>
            </div>
            <div class="card-footer">
                <div>

                </div>
                <div class="row">
                    <div class="col">
                        <a type="button" class="btn btn-danger w-100" id="delete">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="calendari" class="bg-white"></div>


{% endblock %}

{% block javascripts %}

    <script>
        window.onload = () => {
            let calendariElt = document.querySelector("#calendari")
            let calendari = new FullCalendar.Calendar(calendariElt, {
                initialView: 'dayGridMonth',
                locale: 'esp',
                timeZone: 'Europe/Barcelona',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },

                eventClick: function (info) {
                    $('#des').html(info.event._def.extendedProps.des);
                    $('#tamano').html(info.event._def.extendedProps.talla);
                    var fecha = info.event.start;
                    var fecha_fin = info.event.end;

                    console.log(fecha);

                    console.log(fecha.toLocaleDateString());
                    console.log(fecha.toLocaleDateString() + " a las " + fecha.getUTCHours() + ":" + fecha.getUTCMinutes());
                    $('#fecha_inicio').html(fecha.toLocaleDateString() + " a las " + fecha.getUTCHours() + ":" + fecha.getUTCMinutes());
                    $('#fecha_fin').html(fecha_fin.toLocaleDateString() + " a las " + fecha_fin.getUTCHours() + ":" + fecha_fin.getUTCMinutes());
                    $('#cliente_nombre').html(info.event._def.extendedProps.cliente_apellido);
                    $('#cliente_email').html(info.event._def.extendedProps.cliente_email);
                    $('#cliente_telefono').html(info.event._def.extendedProps.cliente_telefono);

                    $('#delete').attr('href', info.event._def.extendedProps.delete);
                    //$('#img').src("/img/icon.png");
                    //$("#img").attr("src", {{ asset('/img/icon.png') }});
                    document.getElementById("img2").src = "/uploads/imagenes/" + info.event.extendedProps.imatge;

                    //console.log(_def.extendedProps.imatge);
                    //console.log(info.event._def.extendedProps.cliente);

                },

                events: {{ data|raw }}
            })
            calendari.render()
        }


    </script>

{% endblock %}